.principal-box {
  background-color: #ECE7B4;
  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
  padding: 50px;
}

.child-box {
  overflow:auto; 
  background-color: #406343;
  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
  padding: 50px;
}