.principal-box {
  background-color: #FFFFFF;
  opacity: 0.5;
  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
}

.h2Text {
  color:#406343;
}